<style>
	body {
		background: #222;
		position: relative;
		text-align: center;
	}

	.system {
		display: inline-block;
		position: relative;
		vertical-align: middle;
	}

	.orbit {
		fill: none;
		stroke: #ccc;
		stroke-dasharray: 2,3;
	}

	.planet {
		position: absolute;
		top: 0;
		left: 0;
		-moz-animation-name: rotate;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-webkit-animation-name: rotate;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		animation-name: rotate;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	.planet circle {
		fill: url(#planet-gradient);
	}

	@-moz-keyframes rotate {
		from { -moz-transform: rotateZ(0deg); }
		to { -moz-transform: rotateZ(-360deg); }
	}

	@-webkit-keyframes rotate {
		from { -webkit-transform: rotateZ(0deg); }
		to { -webkit-transform: rotateZ(-360deg); }
	}

	@keyframes rotate {
		from { transform: rotateZ(0deg); }
		to { transform: rotateZ(-360deg); }
	}
</style>

<div id="fullpage">
	<div class="section" id="section0">
		<a id="homelink" href="/">home</a>
		<div class="introtext">This app visualizes your twitter data. Let's take a look at some of the people you're following.</div>
	</div>
	<div class="section" id="seciton1">
		<div class="d3startercontainer">
			<div id="check-awesome" class="form-group">    
				<input type="checkbox" id="check-me">   
				<label id="checkboxlabel" for="check-me">
					<span></span>
					<span class="check"></span>
					<span class="box"></span>
					Sort
				</label>  
			</div>
			<div class="d3starterchart"></div>
			<script src="js/d3twittervis.js"></script>
		</div>
	</div>
	<div class="section" id="section2">
		<div id="section2header" class="section2text">Awesome! Now let's check out the top trends on twitter!</div>
	</div>
	<div class="section" id="section3">
		<div id="c3twitterchart"></div>
	</div>
	<div class="section" id="section4">
		<div id="section4container">
			<div id="section4a">And now let's understand the influence of the people you're following.</div>
			<div id="section4b">Here's a brief explanation of the visualization below:</div>
			<div id="section4c">The <em>size</em> of the orbit is proportional to their number of followers. The amount of <em>inner orbits</em> is related to the number of people they're following. And the <em>speed</em> of the planet orbit is correlated to their total number of tweets or activity.</div>
		</div>
	</div>
	<div class="section" id="section5">
		<div class="container planetcontainer">
			<div id="d3custom">
				<svg style="position:absolute;width:0;height:0;">
					<defs>
						<radialGradient id="planet-gradient" gradientUnits="objectBoundingBox" cx="50%" cy="50%" r="50%">
							<stop offset="0%" stop-color="#aaa" stop-opacity="1"/>
							<stop offset="100%" stop-color="#777" stop-opacity="1"/>
						</radialGradient>
					</defs>
				</svg>
			</div>
		</div>
	</div>
	<div class="section" id="section6">
		<div class="section2text">And as a bonus</div>
	</div>
	<div class="section" id="section7">
		<div class="mapContainer">
			<div id="container" style="position: relative; width: 650px; height: 500px; margin: auto;"></div>
			</div>
		<form id="formsubmit" role="form">
			<paper-input id="input" type="text" label="search twitter" name="query" class="custom"></paper-input>
			<paper-button id="submitbutton" type="submit" class="hover" extends="input">Submit</paper-button>
		</form>
		<span id="labelspan">currently searching for <span id="topic">justin bieber</span><span>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="css/checkbox.css">
<script type="text/javascript" src="js/checkbox.js"></script>
<script type="text/javascript" src="bower_components/fullpage.js/vendors/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="bower_components/fullpage.js/jquery.fullPage.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#fullpage').fullpage({
			sectionsColor: ['#292929', '#fff', '#f7484e', '#fff', '#292929', '#222', ,'#222','#292929'],
			responsive: 3000,
			scrollOverflow: false

		});
	});
</script>

<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<script src="js/c3twitter.js"></script>
<script src="js/d3custom.js"></script> 
<script src="js/map.js"></script>



