<div id="fullpage">
	<div class="section" id="section0">
		<a id="homelink" href="/">home</a>
		<p>Hi {{user.name}}, let's take a look at your friends!</p>
	</div>
	<div class="section" id="seciton1">
		<p>Media Count of Twitter Friends</p>
		<div class="d3startercontainer">
			<div id="check-awesome" class="form-group">    
				<input type="checkbox" id="check-me">   
				<label id="checkboxlabel" for="check-me">
					<span></span>
					<span class="check"></span>
					<span class="box"></span>
					Sort
				</label>  
			</div>
			<div id="d3starterchart"></div>
		</div>
	</div>
	<div class="section" id="section2">
		<p> Media Count of Your Instagram Followers using C3JS </p>
		<div id="c3twitterchart"></div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="css/checkbox.css">
<script type="text/javascript" src="js/checkbox.js"></script>
<script type="text/javascript" src="bower_components/fullpage.js/vendors/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="bower_components/fullpage.js/jquery.fullPage.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#fullpage').fullpage({
			anchors: ['firstPage', 'secondPage', 'third', 'fourth', 'fifth'],
			sectionsColor: ['#2C3E50', '#E74C3C', '#ECF0F1', '#3498DB', '#2980B9'],
			navigation: true,
			navigationPosition: 'right',
			navigationTooltips: ['First page', 'Second page', 'Third', 'fourth','fift'],
			responsive: 900
		});
	});
</script>
<script src="js/d3twittervis.js"></script>
<script src="js/c3twitter.js"></script>
