<div class="container">
	<p id="checkboxcontainer">
		<input type="checkbox" id="sortcheckbox" />
		<label for="sortcheckbox">Sort</label>
	</p>
	<div class="d3starterchart"></div>
</div>

<script src="js/d3twittervis.js"></script>