<div class="loginContainer">
	<div class="intro">
		<div class="titletext">AdventureTimee</div>
		<div class="descriptiontext">Visualize you Twitter data.</div>
	</div>
	<div class="loginButtons">
		<div class="twitterLogin">
			<a class="waves-effect waves-light btn btn-block btn-social btn-instagram" href="/auth/instagram">
				<i class="fa fa-instagram"></i> Sign in with Instagram
			</a>
		</div>
		<div class="twitterLogin">
			<a class="waves-effect waves-light btn btn-block btn-social btn-twitter" href="/auth/twitter">
				<i class="fa fa-twitter"></i> Sign in with Twitter
			</a>
		</div>
	</div>
</div>
