<div class="loginContainer">
	<div class="intro">
		<div class="titletext">elephantsarecool</div>
		<div class="descriptiontext">a neat tool for visualizing twitter data</div>
	</div>
	<div class="loginButtons">
{{!-- 		<div class="twitterLogin">
			<a class="waves-effect waves-light btn btn-block btn-social btn-instagram" href="/auth/instagram">
				<i class="fa fa-instagram"></i> Sign in with Instagram
			</a>
		</div> --}}
		<div class="twitterLogin">
			<a class="waves-effect waves-light btn btn-block btn-social btn-twitter" href="/auth/twitter">
				<i class="fa fa-twitter"></i> Sign in with Twitter
			</a>
		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="css/materialize.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap-social/bootstrap-social.css">
<link rel="stylesheet" type="text/css" href="css/fp.css">
<script src="js/materialize.js"></script>
