@font-face {
  font-family: adamcgpro;
  src: url("../fonts/adam-cg-pro.otf") format("opentype");
}

@import url(//fonts.googleapis.com/css?family=Open+Sans);


/* Login */
.intro{
  margin-top: 10%;
}

.titletext{
  color: #E9EAED;
  font-size: 4em;
  text-align: center;
  font-family: 'adamcgpro', sans-serif;
  font-weight: 300;
  letter-spacing: 10px;
  width: 265px;
  margin-right:auto;
  margin-left:auto;
  overflow-wrap: break-word;
}

.descriptiontext{
  color: #E9EAED;
  text-align: center;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.loginContainer{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.loginButtons{
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.btn, .btn-large{
  letter-spacing: 0px;
  font-size: 12px;
  text-transform: none;

}

.twitterLogin {
  letter-spacing: 0px;

}

/* FP */

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #E9EAED;
}

#section0{
  color: #E9EAED;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

 #checkboxcontainer{
  margin-left: 115%;
}

#d3starterchart{
	margin-left: 3em;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #1D1F20;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}